.imageSelect {
    height: 10vw;
}
body {
  background-color: #F6E2A4;
}
/* จ่ายตัง */
/* สร้างกรอบด้านขวา */
#cart22 {
  font-family: Helvetica, Arial, sans-serif, tahoma;
  font-size: 25px;
  position: fixed;
  z-index: 3000000007; /*ทำให้อยู่บนสุดตลอด*/
  overflow-y: auto;
  height: 100%;
  color: #111;
  background: rgba(255, 255, 255, 0.867);
  box-shadow: 0 0 15px rgba(0,0,0,.25);
  backdrop-filter: saturate(100%) blur(50px); /*เอฟเฟคฟิวเตอร์พื้นหลัง*/
}


/* ตกแต่งหน้าจ่ายตัง */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #e22222; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidebar */
}

/* ปุ่ม จ่ายตัง*/
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #dd2f2f;
  color: white;
  padding: 10px 15px;
  border: none;
  position: absolute;
  left:0;  
}

.openbtn:hover {
  background-color: #444;
}
.TITLE {
  font-size: 50px;
  text-align: center;
  color: #dd2f2f;
  margin-top: -10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.BACK {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20vw;
}
.BACK  {
width: 100px;
height: 50px;
cursor: pointer;
border: none;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
background-image: linear-gradient(315deg, #F3C959 0%, #D12024 74%);
background-size: 200% 100%;
background-position: left;
background-repeat: no-repeat;
transition: 500ms;
  border-radius: 20vw;
}

.BACK:before {
content: '<<<<';
color: #D12024;
font-size: 16px;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
width: 90px;
height: 40px;
background-color: #D12024;
background-image: linear-gradient(315deg, #F6E2A4 0%, #F6E2A4 74%);
transition: 500ms;
  border-radius: 20vw;
}

.BACK:hover {
background-position: right;
}

.BACK:hover:before {
color: rgba(255,255,255,0.8);
}

.BACK:focus {
outline: none;
}

.IEP {
  width: 1100px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-top: -80px;
}

.containerP2 {
  background-color: #F3C959;
  width: 1200px;
  height: 580px;
  margin: 0 auto;
  border-radius: 20px;
}

.size {
  margin-left: 30px;
  color: white;
  float: left;
  margin-top: -40px;
}
.s {
  margin-left: -50px;
  color: white;
  float: left;
  font-size: 30px;
  margin-top: 20px;
}
.s1 {
  margin-left: -20px;
  color: white;
  float: left;
  font-size: 30px;
  margin-top: 30px;
}
.m {
  margin-left: 5px;
  color: white;
  float: left;
  font-size: 30px;
  margin-top: 20px;
}
.m1 {
  margin-left: 15px;
  color: white;
  float: left;
  font-size: 30px;
  margin-top: 30px;
}
.l {
  margin-left: 15px;
  color: white;
  float: left;
  font-size: 30px;
  margin-top: 20px;
}
.l1 {
  margin-left: 15px;
  color: white;
  float: left;
  font-size: 30px;
  margin-top: 30px;
}
.crust {
  margin-left: 30px;
  color: white;
  margin-top: 50px;
}
.img {
  float: right;
  width: 600px; /*800*/
  margin-right: 40px;
}

.edge {
  margin-left: 40px;
  height: 30px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  backgroud-color: #EEEADF;
  color: #D12024;
  font-weight: bolder;
  
}

.containerP21 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
}

.Topping1 {
  width: 10vw;
  height: 10vw;
  background-color: #F6E2A4;
  margin: 0 auto;
  flex: 0 0 auto;
  border-radius: 10px;
  margin: 50px;
  margin-top: 0px;
  margin-left: -40px;
}

.Topping1 img{
  display: inline;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: -10px;
}

.BT7 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  justify-content: center;
  border: 2px solid #D12024;
  margin-top: 10px;
  width: 155px;
  height: 40px;
  background-color: #D12024;
  border-radius: 10px;
  
}
.BT7:active {
  background-color: #EEEADF;
}
.BT7:hover{
  background-color: #EEEADF;
}
.PEP {
  margin-top: -10px;
  font-size: 20px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  color:#D12024;
}

.Topping2 {
  width: 10vw;
  height: 10vw;
  background-color: #F6E2A4;
  margin: 0 auto;
  flex: 0 0 auto;
  border-radius: 10px;
  margin: 50px;
  margin-top: 0px;
  margin-left: -40px;
}

.Topping2 img{
  display: inline;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: -10px;
}

.BT8 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  justify-content: center;
  border: 2px solid #D12024;
  margin-top: 10px;
  width: 155px;
  height: 40px;
  background-color: #D12024;
  border-radius: 10px;
}
.BT8:active {
  background-color: #EEEADF;
}
.BT8:hover{
  background-color: #EEEADF;
}
.CHE {
  margin-top: -10px;
  font-size: 20px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  color:#D12024;
}

.Topping3 {
  width: 10vw;
  height: 10vw;
  background-color: #F6E2A4;
  margin: 0 auto;
  flex: 0 0 auto;
  border-radius: 10px;
  margin: 50px;
  margin-top: 0px;
  margin-left: -40px;
}

.Topping3 img{
  display: inline;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: -10px;
}

.BT9 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  justify-content: center;
  border: 2px solid #D12024;
  margin-top: 10px;
  width: 155px;
  height: 40px;
  background-color: #D12024;
  border-radius: 10px;
}
.BT9:active {
  background-color: #EEEADF;
}
.BT9:hover{
  background-color: #EEEADF;
}
.HAM {
  margin-top: -10px;
  font-size: 20px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  color:#D12024;
}

.containerP22 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.ADD {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-top: 10px;
  border-radius: 20vw;
}
.ADD{
width: 100px;
height: 50px;
cursor: pointer;
border: none;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
background-image: linear-gradient(315deg, #F3C959 0%, #D12024 74%);
background-size: 200% 100%;
background-position: left;
background-repeat: no-repeat;
transition: 500ms;
  border-radius: 20vw;
}

.ADD:before {
content: 'ADD';
color: white;
font-size: 16px;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
width: 90px;
height: 40px;
background-color: #D12024;
background-image: linear-gradient(315deg, #D12024 0%, #D12024 74%);
transition: 500ms;
  border-radius: 20vw;
}

.ADD:hover {
background-position: right;
}

.ADD:hover:before {
color: rgba(255,255,255,0.8);
}

.ADD:focus {
outline: none;
}

.RESET {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-top: 10px;
  border-radius: 20vw;
  margin-left: 10px;
}
.RESET{
width: 100px;
height: 50px;
cursor: pointer;
border: none;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
background-image: linear-gradient(315deg, #F3C959 0%, #D12024 74%);
background-size: 200% 100%;
background-position: left;
background-repeat: no-repeat;
transition: 500ms;
  border-radius: 20vw;
}

.RESET:before {
content: 'RESET';
color: white;
font-size: 16px;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
width: 90px;
height: 40px;
background-color: #D12024;
background-image: linear-gradient(315deg, #D12024 0%, #D12024 74%);
transition: 500ms;
  border-radius: 20vw;
}

.RESET:hover {
background-position: right;
}

.RESET:hover:before {
color: rgba(255,255,255,0.8);
}

.RESET:focus {
outline: none;
}

.SUBMIT {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-top: 10px;
  border-radius: 20vw;
  margin-left: 10px;
}
.SUBMIT{
width: 100px;
height: 50px;
cursor: pointer;
border: none;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
background-image: linear-gradient(315deg, #F3C959 0%, #D12024 74%);
background-size: 200% 100%;
background-position: left;
background-repeat: no-repeat;
transition: 500ms;
  border-radius: 20vw;
}

.SUBMIT:before {
content: 'SUBMIT';
color: white;
font-size: 16px;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
width: 90px;
height: 40px;
background-color: #D12024;
background-image: linear-gradient(315deg, #D12024 0%, #D12024 74%);
transition: 500ms;
  border-radius: 20vw;
}

.SUBMIT:hover {
background-position: right;
}

.SUBMIT:hover:before {
color: rgba(255,255,255,0.8);
}

.SUBMIT:focus {
outline: none;
}

.openbtn {
  margin-top: -40px;
  border-radius: 5px;
}

.sidebar {
  border-radius: 20px;
}

.Pizza {
  margin-top: 20px;
  margin-left: 800px;
}

