.imageSelect {
    height: 10vw;
}
body {
  background-color: #F6E2A4;
}
/* จ่ายตัง */
/* สร้างกรอบด้านขวา */
#cart22 {
  font-family: Helvetica, Arial, sans-serif, tahoma;
  font-size: 25px;
  position: fixed;
  z-index: 3000000007; /*ทำให้อยู่บนสุดตลอด*/
  overflow-y: auto;
  height: 100%;
  color: #111;
  background: rgba(255, 255, 255, 0.867);
  box-shadow: 0 0 15px rgba(0,0,0,.25);
  backdrop-filter: saturate(100%) blur(50px); /*เอฟเฟคฟิวเตอร์พื้นหลัง*/
}


/* ตกแต่งหน้าจ่ายตัง */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #D12024; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidebar */
  
}

/* ปุ่ม จ่ายตัง*/
.openbtn {
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  background-color: #dd2f2f;
  color: white;
  padding: 10px 15px;
  border: none;
  position: absolute;
  left:0;  
  margin-top: -100px;
  border-radius: 5px;
  margin-left: 30px;
}

.openbtn:hover {
  background-color: #444;
}
.TITLE {
  font-size: 50px;
  text-align: center;
  color: #dd2f2f;
  margin-top: -10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.BACK {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20vw;
}
.BACK  {
width: 100px;
height: 50px;
cursor: pointer;
border: none;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
background-image: linear-gradient(315deg, #F3C959 0%, #D12024 74%);
background-size: 200% 100%;
background-position: left;
background-repeat: no-repeat;
transition: 500ms;
  border-radius: 20vw;
}

.BACK:before {
content: '<<<<';
color: #D12024;
font-size: 16px;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
width: 90px;
height: 40px;
background-color: #D12024;
background-image: linear-gradient(315deg, #F6E2A4 0%, #F6E2A4 74%);
transition: 500ms;
  border-radius: 20vw;
}

.BACK:hover {
background-position: right;
}

.BACK:hover:before {
color: rgba(255,255,255,0.8);
}

.BACK:focus {
outline: none;
}

.IEP {
  width: 1100px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-top: -80px;
  
}


.img {
  justify-content: center;
  margin-left: 400px;
  margin-top: -50px;
  
}

.Pizza {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 200px;
  text-align: center;
  background-color: #D12024;
  border-radius: 20px;
  color: white;
  font-weight: bolder;
  margin-top: 10px;
}

.size {
  text-align: center;
  margin-left: 0px;
  color: #ffffff;
  font-family: serif;
  font-style:normal;
  margin-top: 5%;
}

.consize {
  width: 150px;
  height: 210px;
  background-color: #F3C959;
  border-radius: 20px;
  justify-content: center;
  margin-left: 15%;
  position: absolute;
  margin-top: -420px;
}

.s1 {
  margin-left: 35%;
}
.s{
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.m1 {
  margin-left: 35%;
}
.m {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.l1{
  margin-left: 35%;
}
.l {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.concrust  {
  width: 200px;
  height: 105px;
  background-color: #F3C959;
  border-radius: 20px;
  margin-top: -130px;
  margin-left: 15%;
  margin-top: -200px;
}

.crust {
  margin-left: 28%;
  color: #ffffff;
  font-family: serif;
  font-style:normal;
  margin-top: -5px;
  font-size: 25px;
}
.edge {
  transform: translate(-50%, -50%);
  height: 40px;
  width: 200px;
  text-align: center;
  background-color: #D12024;
  border-radius: 20px;
  color: white;
  font-weight: bolder;
  margin-top: 25px;
  margin-left: 50%;
}

.contop {
  width: 500px;
  height: 200px;
  background-color: #F6E2A4;
  margin-left: 500px;
  margin-top: 0px;
  border-radius: 20px;
}

.radio-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 75px;
  
}

.radio-inputs > * {
  margin: 6px;
}

.radio-input:checked + .radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2260ff;
}

.radio-input:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
}

.radio-input:checked + .radio-tile .radio-icon svg {
  fill: #2260ff;
}

.radio-input:checked + .radio-tile .radio-label {
  color: #2260ff;
}

.radio-input:focus + .radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  min-height: 150px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.radio-tile:hover {
  border-color: #F3C959;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-icon svg {
  width: 2rem;
  height: 2rem;
  fill: #494949;
}

.radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.PEP {
  width: 80px;
  height: 80px;
}

.HAM {
  width: 100px;
  height: 100px;
  margin-left: -10%;
}
.CHEESE {
  margin-left: 10%;
}

.ADD {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: 1350px;
  margin-top: 10px;
  border-radius: 20vw;
  position: absolute;
  margin-top: -210px;
}
.ADD {
width: 130px;
height: 50px;
cursor: pointer;
border: none;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
background-image: linear-gradient(315deg, #F3C959 0%, #D12024 74%);
background-size: 200% 100%;
background-position: left;
background-repeat: no-repeat;
transition: 500ms;
  border-radius: 20vw;
}

.ADD:before {
content: 'ADD';
color: white;
font-size: 16px;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
width: 120px;
height: 40px;
background-color: #D12024;
background-image: linear-gradient(315deg, #D12024 0%, #D12024 74%);
transition: 500ms;
  border-radius: 20vw;
}

.ADD:hover {
background-position: right;
}

.ADD:hover:before {
color: rgba(255,255,255,0.8);
}

.ADD:focus {
outline: none;
}

.RESET {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: 1350px;
  margin-top: 10px;
  border-radius: 20vw;
  position: absolute;
  margin-top: -155px;
}
.RESET {
width: 130px;
height: 50px;
cursor: pointer;
border: none;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
background-image: linear-gradient(315deg, #F3C959 0%, #D12024 74%);
background-size: 200% 100%;
background-position: left;
background-repeat: no-repeat;
transition: 500ms;
  border-radius: 20vw;
}

.RESET:before {
content: 'RESET';
color: white;
font-size: 16px;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
width: 120px;
height: 40px;
background-color: #D12024;
background-image: linear-gradient(315deg, #D12024 0%, #D12024 74%);
transition: 500ms;
  border-radius: 20vw;
}

.RESET:hover {
background-position: right;
}

.RESET:hover:before {
color: rgba(255,255,255,0.8);
}

.RESET:focus {
outline: none;
}

.SUBMIT {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: 1350px;
  margin-top: 10px;
  border-radius: 20vw;
  position: absolute;
  margin-top: -100px;
}
.SUBMIT {
width: 130px;
height: 50px;
cursor: pointer;
border: none;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
background-image: linear-gradient(315deg, #F3C959 0%, #D12024 74%);
background-size: 200% 100%;
background-position: left;
background-repeat: no-repeat;
transition: 500ms;
  border-radius: 20vw;
}

.SUBMIT:before {
content: 'SUBMIT';
color: white;
font-size: 16px;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
width: 120px;
height: 40px;
background-color: #D12024;
background-image: linear-gradient(315deg, #D12024 0%, #D12024 74%);
transition: 500ms;
  border-radius: 20vw;
}

.SUBMIT:hover {
background-position: right;
}

.SUBMIT:hover:before {
color: rgba(255,255,255,0.8);
}

.SUBMIT:focus {
outline: none;
}


.right {
  margin-right: 20px;
  text-align: right;
  
}

.center {
  text-align: center;
  margin-top: -50px;
}

.left {
  margin-left: 20px;
  text-align: left;
}

.left1 {
  margin-left: 90px;
  text-align: left;
}

.button {
  color: #F3C959;
  background-color: #D12024;
  font-weight: 600;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
  margin-bottom: 50%;
  margin-left: 20px;
  
  
}

.button:hover {
  background-color: #F3C959;
  color: #D12024;
  border: 2px solid #F3C959;
}

.button:hover svg {
  fill: #D12024;
}

.button svg {
  display: inline;
  width: 2rem;
  height: 2rem;
  margin-right: 0.75rem;
  color: #F3C959;
}

.button:hover svg {
  animation: spin_357 0.5s linear;
}

@keyframes spin_357 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotatey(360deg);
  }
}
