.slides {
    display: flex;
    flex-wrap: wrap-reverse; /* เว้นช่องว่างระหว่างรูป */
    
    width: 100%;
    height: 30vw;
    background-color: grey;
    overflow: hidden;
}

.menu {
    width: 20vw;
    height: 30vw;
    background-color: rgb(78, 78, 78);
    margin: 0 auto;
    flex: 0 0 auto;
}
