@keyframes slide-up {
    0% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(0);
    }
} 

body {
    background-color: #D12024;
    /* background-image: url('images/ItIsPizza.jpg');
    background-position: fixed; */
    background-size: 100%;
}

.Language {
  display: flex;
  justify-content: flex-end; /* จัดให้อยู่ด้านขวา */
  padding: 10px;
}


.language {
    width: 70px;
    padding: 5px; /* เพิ่ม padding เพื่อเพิ่มพื้นที่รอบเลือก */
    font-size: 16px; /* ปรับขนาดตัวอักษร */
    border: 2px solid #ccc; /* เพิ่มเส้นขอบ */
    border-radius: 20px; /* เพิ่มมุมขอบโค้ง */
    background-color: #f9f9f9;
    text-align: center;
}
.language img{
    width: 1000px;
}
.ItIsPizza img{
    animation: slide-up 1s ease forwards;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tap-to-start {
    animation: slide-up 1s ease forwards;
    font-size: 2.0vw;
    text-align: center;
    color: white;

}